<!DOCTYPE html>
<html>
  <head>
    <title>FewTrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('goodfavicon.png')%>

    <meta property="og:title" content="FewTrails"/>
    <meta property="og:image" content="https://fewtrails-seeds.s3.us-west-1.amazonaws.com/homePage.PNG"/>
    <meta property="og:description" content="A fullstack application clone based off of the popular hiking application, AllTrails. Built using Ruby on Rails, Postgresql, React/Redux, and HTML/CSS "/>
    <meta property="og:url" content="https://fewtrails.herokuapp.com/#/"/>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
